<a href="https://colab.research.google.com/github/jeurginocode/introductionupb202410/blob/main/Funciones_y_Modulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##modulos
se refiere cuando se quire hacer solamente una tariea en especifica como solamente sumar, restar.

##funciones
:se refiere a una serie de intrucciones guarda <br>
* La tarea general que debe realizar el programa se divide en una
serie de subtareas.
*   Se examina cada una de las subtareas para determinar si se puede
además se divide en más subtareas. Este paso se repite hasta que no se puedan identificar más subtareas.

**PSUDOCODIGO:**

```
Function DataType FunctionName(ParameterList)
  statement
  statement
  …
  Return value
End Function
---
Function Integer sum(Integer num_1, Integer num_2)
Declare Integer result
Set result = num_1 + num_2
Return result
End Function
```

**CODIGO**
* Definiendo fuciones
```
def say_hello():
    print("Hola :)"

  def function_name (parameters):    
  #Encabezado de función # Acciones
```

*   Llamando Funciones

#ejemplos

In [1]:
# PSEUDOCODIGO
# Program calcular_hipotenusa
# Start
#   Module main()
#     Declare Real a, b, h
#     Set h = hipotenusa(a, b)
#   End Module
#   Display h
#   Function Real hipotenusa (Real a, Real b)
#     Declare Real h
#     Seth = (a^2+b^2)^(1/2)
#     Return h
#   End Function
# Stop

In [2]:
Program calcular hipotenusa
Start
  Module main()
    Declare Real a, b, h
    Seth hipotenusa(a, b)
    Display h
  End Module

  Function Real hipotenusa (Real a, Real b)
    Declare Real h
    Seth (a^2+b^2)^(1/2)
    Return h
  End Function
Stop

SyntaxError: invalid syntax (<ipython-input-2-4ee2c28233f2>, line 1)

In [ ]:
# program promedio_dedosnumeros

# start
# 	Module main()
# 		Declare Real a,b
# 		ser h= prom(a,b)
# 		Display h
# 	End Module

# 	Funtion Real prom(real a, real b)
# 		Declare Real h
# 		Set h=(a+b)/2
# 		Return h
# 	End Funtion

In [ ]:
def hipotenusa(a, b):
  return ( a ** 2 + b ** 2 ) ** (1 / 2)

a = 3
b = 4

print(hipotenusa(a, b))

In [ ]:
student_1 = {"name": "Homero", "edad": 15, "genero": "M", "promedio": 2.5}
student_2 = {"name": "Lisa", "edad": 14, "genero": "F", "promedio": 4.8}
student_3 = {"name": "Bart", "edad":14, "genero": "M", "promedio": 2.9}

students = [student_1, student_2, student_3]

#print(students)

#Imprimir lista de estudiantes

for student in students:
  print(student["name"])

#Promedio de edades
edad_prom = 0
if len(students) > 0:
  for student in students:
    edad_prom += student["edad"]
  edad_prom /= len(students)
  print(f"Edad promedio: {edad_prom:.2f}")
else:
  print("No hay estudiantes en la lista.")

#Promedio de notas
nota_prom = 0
if len(students) > 0:
  for student in students:
    nota_prom += student["promedio"]
  nota_prom /= len(students)
  print(f"Nota promedio: {nota_prom:.2f}")
else:
  print("No hay estudiantes en la lista.")

In [ ]:
registro_1 = {"datetime": "2024-04-03 13:07" ,"humedad": 0.20, "nivel": 10}

In [3]:
frase = "A la grande le puse Pucca"
nombre = "pucca"

def validar_nombre_en_frase(frase, nombre):
    if nombre.lower() in frase.lower():
        print("El nombre sí está en la frase")
    else:
        print("El nombre no está en la frase")

validar_nombre_en_frase(frase, nombre)

frase = "Mi nombre es Bond. James Bond"
nombre = "Clark"

validar_nombre_en_frase(frase, nombre)

El nombre sí está en la frase
El nombre no está en la frase

In [4]:
def letras_intercaladas(word):
    new_word = ""
    for i in range(0, len(word), 2):
        new_word += word[i]
    return new_word

word = "Miguelangelo"
new_word = letras_intercaladas(word)
print(new_word)

Mgeagl

In [5]:
def invertir_palabra(word):
    new_word = ""
    for i in range(len(word)-1, -1, -1):
        new_word += word[i]
    return new_word

new_word = invertir_palabra("Inmarcesible")
print(new_word)

elbisecramnI

In [6]:
def invertir_palabra(word):
    return word[::-1]

new_word = invertir_palabra("Salchipapa")
print(new_word)

apapihclaS

In [7]:
def es_palindrome(frase):
    x = "".join(frase.split()).lower()
    if x == x[::-1]:
        print("La frase es palíndrome.")
    else:
        print("La frase NO es palíndrome.")

es_palindrome("amo la paloma")
es_palindrome("anita lava la tina")
es_palindrome("Dabale arroz a la zorra el abad")
es_palindrome("Rayos")

La frase es palíndrome.
La frase es palíndrome.
La frase es palíndrome.
La frase NO es palíndrome.

#diccionarios

##**se define como:**
* Conjunto desordenado de parejas llave:valor (key:value)
* Forma rápida de mapear datos relacionados.

In [8]:
menu = {"Cabeza de gato": 1000, "Yuca": 800, "Huevo Cocido": 700}
print(menu)
{'Cabeza de gato': 1000, 'Yuca': 800, 'Huevo Cocido': 700}

{'Cabeza de gato': 1000, 'Yuca': 800, 'Huevo Cocido': 700}

{'Cabeza de gato': 1000, 'Yuca': 800, 'Huevo Cocido': 700}