<a href="https://colab.research.google.com/github/jeurginocode/introductionupb202410/blob/main/Funciones_y_Modulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##modulos
se refiere cuando se quire hacer solamente una tariea en especifica como solamente sumar, restar.

#funciones
:se refiere a una serie de intrucciones guarda <br>
* La tarea general que debe realizar el programa se divide en una
serie de subtareas.
*   Se examina cada una de las subtareas para determinar si se puede
además se divide en más subtareas. Este paso se repite hasta que no se puedan identificar más subtareas.

**PSUDOCODIGO:**

```
Function DataType FunctionName(ParameterList)
  statement
  statement
  …
  Return value
End Function
---
Function Integer sum(Integer num_1, Integer num_2)
Declare Integer result
Set result = num_1 + num_2
Return result
End Function
```

**CODIGO**
* Definiendo fuciones
```
def say_hello():
    print("Hola :)"

  def function_name (parameters):    
  #Encabezado de función # Acciones
```

*   Llamando Funciones

#ejemplos

In [ ]:
# PSEUDOCODIGO
# Program calcular_hipotenusa
# Start
#   Module main()
#     Declare Real a, b, h
#     Set h = hipotenusa(a, b)
#   End Module
#   Display h
#   Function Real hipotenusa (Real a, Real b)
#     Declare Real h
#     Seth = (a^2+b^2)^(1/2)
#     Return h
#   End Function
# Stop

In [ ]:
# Program calcular hipotenusa
# Start
#   Module main()
#     Declare Real a, b, h
#     Seth hipotenusa(a, b)
#     Display h
#   End Module

#   Function Real hipotenusa (Real a, Real b)
#     Declare Real h
#     Seth (a^2+b^2)^(1/2)
#     Return h
#   End Function
# Stop

In [ ]:
# program promedio_dedosnumeros

# start
# 	Module main()
# 		Declare Real a,b
# 		ser h= prom(a,b)
# 		Display h
# 	End Module

# 	Funtion Real prom(real a, real b)
# 		Declare Real h
# 		Set h=(a+b)/2
# 		Return h
# 	End Funtion

###ejemplos modulos

In [1]:
#  crear una matriz que van de un numero minimo ha otro maximo
# A = [[1,  4,  5],
#         [-5,  8,  9]]


# print (A)
# print (type (A))


figurita= []:

for i in range(3):
  temp=[]
  for j in range(2):
    temp.append(1)
  figurita.append(temp)

[[1, 4, 5], [-5, 8, 9]]
<class 'list'>

###ejemplos de fuciones

In [ ]:
def hipotenusa(a, b):
  return ( a ** 2 + b ** 2 ) ** (1 / 2)

a = 3
b = 4

print(hipotenusa(a, b))

In [ ]:
registro_1 = {"datetime": "2024-04-03 13:07" ,"humedad": 0.20, "nivel": 10}

In [ ]:
frase = "A la grande le puse Pucca"
nombre = "pucca"

def validar_nombre_en_frase(frase, nombre):
    if nombre.lower() in frase.lower():
        print("El nombre sí está en la frase")
    else:
        print("El nombre no está en la frase")

validar_nombre_en_frase(frase, nombre)

frase = "Mi nombre es Bond. James Bond"
nombre = "Clark"

validar_nombre_en_frase(frase, nombre)

In [ ]:
def letras_intercaladas(word):
    new_word = ""
    for i in range(0, len(word), 2):
        new_word += word[i]
    return new_word

word = "Miguelangelo"
new_word = letras_intercaladas(word)
print(new_word)

In [ ]:
def invertir_palabra(word):
    new_word = ""
    for i in range(len(word)-1, -1, -1):
        new_word += word[i]
    return new_word

new_word = invertir_palabra("Inmarcesible")
print(new_word)

elbisecramnI

In [ ]:
def invertir_palabra(word):
    return word[::-1]

new_word = invertir_palabra("Salchipapa")
print(new_word)

apapihclaS

In [ ]:
def es_palindrome(frase):
    x = "".join(frase.split()).lower()
    if x == x[::-1]:
        print("La frase es palíndrome.")
    else:
        print("La frase NO es palíndrome.")

es_palindrome("amo la paloma")
es_palindrome("anita lava la tina")
es_palindrome("Dabale arroz a la zorra el abad")
es_palindrome("Rayos")

In [ ]:
# reescriba su cálculo salarial con tiempo y medio para las horas extra y cree una función llamada computepayque tome dos parámetros ( hours y rate).

# Enter Hours: 45
# Enter Rate: 10
# Pay: 475.0



def computepayque(hours, rate):
    if hours >= 40:
      hours_extra=hours-40
      rate_pay=((1.5*rate)*(hours_extra))
      pay=rate_pay+(rate*40)
    else:
      pay=hours * rate
    pay=float(pay)
    return pay

a=float(input("horas"))
d=float(input("tarifa"))


b= computepayque(a, d)

print("pay:", b)

horas45
tarifa10
pay: 475.0

##ejemplos de diccionarios y fucciones

In [ ]:
sujeto = ['Mami ', 'Bebé ', 'Princes ', 'Mami ', 'Brrr ', 'Reina ', 'Hermosa ']
intencion = ['yo quiero ', 'yo puedo ', 'yo vengo a ', 'voy a ', 'pretendo ', 'me gustaría ']
accion = ['encendelte ', 'amalte ', 'ligar ', 'jugar ', 'cocinar ', 'trabajar ']
adjetivo = ['suave ', 'lento ', 'rápido ', 'fuerte ', 'duro ', 'convencido ']
duracion = ['hasta que salga el sol ', 'toda la noche ', 'hasta el amanecer ', 'todo el dia ', 'por la noche ']
manera = ['sin anestecia.', 'sin compromiso.', 'feis to feis.', 'sin miedo.', 'intensamente.']
palabras_reggaeton = [sujeto, intencion, accion, adjetivo, duracion, manera]


def palabras_ramdon(reggaton):
  import random
  verso = ""
  for palabras in reggaton:
    verso += str(random.choice(palabras))
    print(verso)
  return verso

print(palabras_ramdon(palabras_reggaeton))

Bebé
Bebé me gustaría
Bebé me gustaría amalte
Bebé me gustaría amalte suave
Bebé me gustaría amalte suave todo el dia
Bebé me gustaría amalte suave todo el dia intensamente.
Bebé me gustaría amalte suave todo el dia intensamente.

##ejemplos de biccionarios

In [ ]:
student_1 = {"name": "Homero", "edad": 15, "genero": "M", "promedio": 2.5}
student_2 = {"name": "Lisa", "edad": 14, "genero": "F", "promedio": 4.8}
student_3 = {"name": "Bart", "edad":14, "genero": "M", "promedio": 2.9}

students = [student_1, student_2, student_3]

#print(students)

#Imprimir lista de estudiantes

for student in students:
  print(student["name"])

#Promedio de edades
edad_prom = 0
if len(students) > 0:
  for student in students:
    edad_prom += student["edad"]
  edad_prom /= len(students)
  print(f"Edad promedio: {edad_prom:.2f}")
else:
  print("No hay estudiantes en la lista.")

#Promedio de notas
nota_prom = 0
if len(students) > 0:
  for student in students:
    nota_prom += student["promedio"]
  nota_prom /= len(students)
  print(f"Nota promedio: {nota_prom:.2f}")
else:
  print("No hay estudiantes en la lista.")

In [ ]:
mis_dato={}
x=[1,2,3,4]
y=[9,10,11,23]
z=[96.32.56.28]

mis_dato["x"]=x
mis_dato["y"]=y
mis_dato["z"]=Z

import random
code= ""
for key in mis_dato.keys():
  verso= str(random.choice(palabras_reggaeton(key)))

#diccionarios

##**se define como:**
* Conjunto desordenado de parejas llave:valor (key:value)
* Forma rápida de mapear datos relacionados.

In [ ]:
menu = {"Cabeza de gato": 1000, "Yuca": 800, "Huevo Cocido": 700}
print(menu)
# >>>{'Cabeza de gato': 1000, 'Yuca': 800, 'Huevo Cocido': 700}

{'Cabeza de gato': 1000, 'Yuca': 800, 'Huevo Cocido': 700}

***
* Los valores para cada llave pueden ser de cualquier tipo.
* Las llaves pueden ser strings o números.

In [ ]:
person = {"name": "Miguel", "age": 30, "hobbies": ["reading", "listening to music", "cooking"]}
print(person)

{'name': 'Miguel', 'age': 30, 'hobbies': ['reading', 'listening to music', 'cooking']}


***
* Los diccionarios dependen de que cada llave posea un hash value, un
identificador específico que se mantenga inmutable, como en el caso
de los números o strings.

* Los diccionarios también pueden ser creados vacíos.Las llaves, {} representan un diccionario vacío.Para agregar elementos al diccionario, puede utilizar corchetes:[ ]

In [ ]:
empty_dict = {}
print(empty_dict)

# Para agregar elementos al diccionario, puede utilizar corchetes:
empty_dict['one'] = 'uno'
print(empty_dict)

{}
{'one': 'uno'}

*   Tambien se puede hacer un dicionario con la funcion` dict()`

In [ ]:
cabinet = dict()
cabinet['summer'] = 12
cabinet['fall'] = 3
cabinet['spring'] = 75
print(cabinet)
#------
print(cabinet['fall'])
#------
cabinet['fall'] = cabinet['fall'] + 2

print(cabinet)

{'summer': 12, 'fall': 3, 'spring': 75}
3
{'summer': 12, 'fall': 5, 'spring': 75}

## cosas que se puede hacer con diccionarios:

###Agregar Llaves

In [ ]:
menu ={"Cabeza de gato": 1000, "Yuca": 800, "Huevo Cocido": 700}
print(menu)
menu["Papa"] = 800
print(menu)

{'Cabeza de gato': 1000, 'Yuca': 800, 'Huevo Cocido': 700}
{'Cabeza de gato': 1000, 'Yuca': 800, 'Huevo Cocido': 700, 'Papa': 800}

###agregar varias llaves

In [ ]:
menu= {"Cabeza de gato": 1000, "Yuca": 300, "Huevo Cocido": 700}
print(menu)
menu.update({"Papa": 300, "Arepa de Queso":1500})
print(menu)

{'Cabeza de gato': 1000, 'Yuca': 300, 'Huevo Cocido': 700}
{'Cabeza de gato': 1000, 'Yuca': 300, 'Huevo Cocido': 700, 'Papa': 300, 'Arepa de Queso': 1500}

###Sobrescribir Valores

In [ ]:
menu ={"Cabeza de gato": 1000, "Yuca": 300, "Huevo Cocido": 700}
print(menu)
menu["Yuca"] = 1000
print(menu)

{'Cabeza de gato': 1000, 'Yuca': 300, 'Huevo Cocido': 700}
{'Cabeza de gato': 1000, 'Yuca': 1000, 'Huevo Cocido': 700}

###compresiones de diccionarios

In [ ]:
names = ["Jimena", "Juan Pablo", "Santiago"]
scores= [80, 75, 77]
grades = {key: value*5/100 for key, value in zip(names, scores)}
print(grades)

{'Jimena': 4.0, 'Juan Pablo': 3.75, 'Santiago': 3.85}

##llaves

###obtener una llave

* Una vez tengas un diccionario, puedes acceder a sus valores indicando
su llave.

In [ ]:
city_areas= {"Montería": 3141, "Cartagena": 609, "Barranquilla": 154, "Sincelejo": 284}
print(city_areas ["Montería"])

3141



*   si no aparece especificada va ha paracer un error:

In [ ]:
city_areas= {"Montería": 3141, "Cartagena": 609, "Barranquilla": 154, "Sincelejo": 284}
print(city_areas["Riohacha"])
#key error: "Riohacha"

###llaves invalidas

In [ ]:
city_areas= {"Monteria": 3141, "Cartagena": 609, "Barranquilla": 154, "Sincelejo": 284}
if "Riohacha" in city_areas:
  print(city_areas ["Riohacha"])
else:
  print("Ciudad no encontrada")

Ciudad no encontrada

###Try/Except

In [ ]:
city_areas = {"Monteria": 3141, "Cartagena": 609, "Barranquilla": 154, "Sincelejo": 284}
key_to_check = "Riohacha"
try:
  print(city_areas [key_to_check])
except KeyError:
  print("La llave no existe.")

La llave no existe.

###Obtener una Llave de forma segura
* No podemos predecir cada llave que el usuario pueda llamar. El
método .get() nos permite buscar un valor de forma segura.

In [ ]:
city_areas = {"Monteria": 3141, "Cartagena": 609, "Barranquilla": 154, "Sincelejo": 284}
print(city_areas.get("Riohacha"))
print(city_areas.get("Riohacha", "Not Found"))

None
Not Found

###Borrar una llave
* En algunas ocasiones queremos obtener una llave y removerla del
diccionario. Para esto, podemos usar el método .pop().

In [ ]:
prizes ={19284: "Entradas a Cine", 8362: "Combo de Crispetas", 6528: "Helado"}
print(prizes.pop (2574, "No Prize"))
print(prizes.pop (19284, "No Prize"))
print(prizes)

No Prize
Entradas a Cine
{8362: 'Combo de Crispetas', 6528: 'Helado'}

In [ ]:
items_to_sell= {"Collar": 1000, "Poción": 300, "Espada": 2500}
current_money = 150
#Vender Espada:
current_money += items_to_sell.pop("Espada", 0)
print(current_money)
print(items_to_sell)

2650
{'Collar': 1000, 'Poción': 300}

###obtener todas las llaves

In [ ]:
items_to_sell= {"Collar": 1000, "Poción": 300, "Espada": 2500}
list_of_keys = list(items_to_sell)
print(list_of_keys)
all_keys= items_to_sell.keys()
print(all_keys)
for item in all_keys:
  print(item)

###obtener todos los valores

In [ ]:
items_to_sell {"Collar": 1000, "Poción": 300, "Espada": 2500}
all_values = items_to_sell.values()
print(all_values) for item in all_values:
  print(item)

###obtener todos los items

In [ ]:
items_to_sell = {"Collar": 1000, "Poción": 300, "Espada": 2500}
all_items = items_to_sell.items()
print(all_items)
for key, value in all_items:
  print(f"Tu (key) vale ${value}.")

***